#menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20vh;
    background: rgba(255, 255, 255, 0);
    font-weight: bold;
}

#logo {
    color: white;
    font-size: 2rem;
}

.menu-content {
    display: flex;
    align-items: center;
    height: 100%;
}
